<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  </head>
  <body>
    <h1>Booking Confirmation</h1>

    <p>Thank you, <%= @passenger.name %>! Your booking is confirmed.</p>
  </body>
</html>